.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatInputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatHistoryContainer {
    background-color: #0094b25f;
    color: #454444;
    width: 20rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: linear-gradient(105deg, #0093b272 46%, #0093b233 100%);
}

.chatSection {
    border-radius: 6px;
    background: #0094b22f;
    box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.14),
        0px 0px 4px rgba(0, 0, 0, 0.12);
    margin: 16px;
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overscroll-behavior: contain;
    overflow-anchor: auto;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
    min-width: 500px;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    background-color: #0094b22f;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: flex-end;
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}

.contentSection {
    border-radius: 6px;

    background: #0094b22f;
    box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.14),
        0px 0px 4px rgba(0, 0, 0, 0.12);
    padding: 12px;
    margin: 16px;
}

.citationPanelHeader {
    background: #0093b2;
}

.citationPanelHeaderTitle {
    color: white;
    font-weight: bold;
    padding-right: 24px;
}

.citationPanelContainer {
    padding: 8px;
    border: gray 2px solid;
}
