.profileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 50px;
}
.profileContainer,
.profileContainerSelected {
    text-align: center;
    color: #ffffff;
    border-radius: 6px;
    background: linear-gradient(105deg, #782f40 46%, #41080091 100%);
    padding: 24px;
    font-size: 16px;
    text-align: left;
    padding-left: 50px;
    padding-top: 20px;
    box-shadow:
        4px 4px 8px rgba(0, 0, 0, 0.14),
        0px 0px 4px rgba(0, 0, 0, 0.12);
}

.profileContainerSelected {
    border: solid 4px darkgray;
    background-color: #f3ede1;
}

.avatarContainer {
    margin-top: 50px;
    margin-left: 24px;
    margin-bottom: 50px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoContainer {
    margin-top: 16px;
}
