.profileContainer {
    margin: 16px;
}

.profileTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.allProfilesContainer {
    width: 100%;
    text-align: center;
}

.loginButtonContainer {
    margin-top: 30px;
}
